<div class="card">
  <div class="card-header bg-dark text-white text-center">
    Change Password
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password..." ng-model="password.oldPassword">
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" placeholder="New Password..." ng-model="password.newPassword">
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm" placeholder="Confirm New Password..." ng-model="password.confirm">
      </div>
    </form>
    <pre>password = {{password | json}}</pre>
  </div>
  <div class="card-footer text-center">
    <button ng-click="$ctrl.changePassword(password)" class="btn btn-primary">
      Change
    </button>
    <button ui-sref="home" class="btn btn-danger">
      Cancel
    </button>
  </div>
</div>