<div class="card">
  <div class="card-header bg-dark text-white text-center">
    Game
  </div>
  <div class="card-body">
    <div class="game">
      <guess ng-repeat="guess in $ctrl.gameState.incorrectGuesses" letter="guess"></guess>
      <field ng-repeat="letter in $ctrl.correctFields track by $index" letter="letter"></field>
    </div>
  </div>
  <div ng-show="!$ctrl.gameState.gameOver" class="card-footer">
    <input type="text" class="form-control" ng-model="$ctrl.guessInput">
    <button ng-click="$ctrl.submitInput($ctrl.guessInput)" class="btn btn-primary">Guess</button>
  </div>
  <div ng-show="$ctrl.gameState.gameOver" class="card-footer">
    <button ng-click="$ctrl.newGame()" class="btn btn-primary">Play Again</button>
  </div>
</div>