<div class="card">
  <div class="card-header bg-dark text-white text-center">
    Login
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username..." ng-model="user.username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password..." ng-model="user.password">
      </div>
    </form>
  </div>
  <div class="card-footer text-center">
    <button ng-click="$ctrl.submit(user)" class="btn btn-primary">
      Login
    </button>
    <button ui-sref="home" class="btn btn-danger">
      Cancel
    </button>
  </div>
</div>